a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
  height: 5rem;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.nav-link {
  color: white;
  padding: 0.5rem;
}

.nav-link:hover {
  color: black;
  background-color: white;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 1rem;
}

.home {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  align-items: center;
  justify-content: center;
}

#pageInfo {
  width: 50%;
  font-size: 2rem;
  font-style: italic;
  padding: 2rem;
}

#shopNow {
  margin: 2rem;
  font-size: 1.5rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}

.product-card {
  width: 300px;
}

.card-title {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

#cart {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.cart-item {
  height: 10rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
  margin: 1rem 0;
  justify-content: space-between;
}

.cart-product {
  display: flex;
  gap: 1rem;
}

.cart-product > img {
  width: 8rem;
}

.product-description {
  max-width: 15rem;
}

.product-quantity {
  max-width: 10rem;
  text-align: center;
}

.product-quantity > input {
  width: 4rem;
  text-align: center;
}

.product-cost {    
  width: 100%;
  text-align: center;
  max-width: 10rem;
  font-size: 1.5rem;  
}

.cart-total {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}