a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
  height: 5rem;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.nav-link {
  color: white;
  padding: 0.5rem;
}

.nav-link:hover {
  color: black;
  background-color: white;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 1rem;
}

.home {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  align-items: center;
  justify-content: center;
}

#pageInfo {
  width: 50%;
  font-size: 2rem;
  font-style: italic;
  padding: 2rem;
}

#shopNow {
  margin: 2rem;
  font-size: 1.5rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}

.product-card {
  width: 300px;
}

.card-title {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

#cart {
  margin: 2rem;
}

.cart-item {
  height: 10rem;
}

.cart-item > img {
  width: 8rem;
}